<h1>Welcome to my Travel Site</h1>
<p>This is my very awesome travel site.</p>

<p><%= @homeland %></p>

<ul> 
<% @countries.each do |country| %>
	<li><%= country %></li>
<% end %>
</ul>



<% @images.shuffle.each do |image| %>
	<%= image_tag image, class: "img-responsive" %>
	<% end %>
